<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New post</title>
</head>
<body>
    <div>
        <!-- method->type of request--> 
         <!-- action->where will it affect -->
    <form method="post" action="/posts">
        <input placeholder="enter name" name="username"><br><br>
        <textarea name="content" placeholder="write content"></textarea><br>
        <button>Submit Post</button>
    </form>
    </div>
</body>
</html>